<nav class="navbar app-nav">
  <a href="" class="navbar-brand">Todo</a>
</nav>
<div class="main-content">
  <!-- <div class="list-wrapper">
    <table class="table table-dark" *ngIf="listItem.length > 0">
      <thead>
        <th>Product</th>
        <th>Price</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of listItem; let i = index">
          <td>{{item.product}}</td>
          <td>{{item.price}}</td>
          <td><button class="btn btn-danger" (click)="delete(i)">x</button></td>
        </tr>
      </tbody>
    </table>


    <input type="text" class="form-control" [(ngModel)]="item" placeholder="product">
    <input type="text" class="form-control mt-1" [(ngModel)]="price" placeholder="price">
    <button class="btn btn-primary mt-1" (click)="addItem()">Add</button>
  </div> -->

<div class="row">
  <div class="col-md-4" *ngFor="let profile of serverData">
    <div class="card">
      <img class="card-img-top" [src]="profile.avatar" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{profile.first_name}}</h5>
        <p class="card-text">{{profile.email}} </p>
      </div>
    </div>
  </div>
</div>
</div>


<!-- <app-info [value]="data" (shareData)="getData($event)"></app-info> -->